<a [routerLink]="['/dashboard/keys', key.accessKeyId]" class="flex items-center justify-between p-4 rounded-lg bg-gray-100 shadow-md hover:shadow-sm transition cursor-pointer">
  <div class="flex flex-col gap-1">
    <div class="text-sm font-semibold">
      {{ key.name }}
    </div>
    <div class="text-xs text-gray-500">
      {{ key.accessKeyId }}
    </div>
  </div>
  <div>
    <div class="flex gap-2 text-xs">
      @if (key.permissions.read) {
        <span class="px-2 py-0.5 bg-green-100 text-green-700 rounded">read</span>
      }
      @if (key.permissions.write) {
        <span class="px-2 py-0.5 bg-green-100 text-blue-700 rounded">write</span>
      }
      @if (key.permissions.owner) {
        <span class="px-2 py-0.5 bg-green-100 text-purple-700 rounded">owner</span>
      }
    </div>
  </div>
  <i class="ph ph-arrow-right"></i>
</a>
